* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  padding: 0 5rem;
  font-family: "Roboto", sans-serif;
  background-color: white;
  box-shadow: 0 0 10px grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  height: 10vh;
  width: auto;
  position: relative;
}

.logo img {
  height: 100%;
  width: auto;
  position: absolute;
  object-position: center;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #010101;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.9rem;
}

.nav-links a:hover,
a.active {
  color: #ffc300;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  /* If less than apply this css */
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    min-height: 10vh;
    padding: 0 1rem;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin-bottom: 20px;
  }

  .nav-links a {
    color: #ffc300;
    font-weight: 500;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Starting of header and mainContent*/

header {
  background-color: #ffc300;
  height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  flex-direction: column;
}

.mainContent .mainTitle {
  font-family: "Permanent Marker", cursive;
  font-size: 12vh;
}

.mainContent .mainButton {
  text-decoration: none;
  margin-top: 10px;
  background-color: #010101;
  padding: 15px;
  color: white;
  border-radius: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
}

.mainContent .mainButton:hover {
  background-color: white;
  color: #010101;
}

@media screen and (max-width: 768px) {
  .mainContent {
    height: 100vh;
  }
  .mainContent .mainTitle {
    font-size: 5vh;
  }
}

/* Info section */

.info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background-color: #151515;
}

.info-text-content {
  width: 65%;
  text-align: center;
  margin-top: 10rem;
}

.info-text-content h1 {
  /* text-transform: uppercase; */
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.info-text-content h1 span {
  color: #ffc300;
}

.info-text-content p {
  color: rgb(235, 235, 235);
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.75rem;
}

.tech-content {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.tech-img-container {
  min-width: 50px;
  width: 5vw;
  aspect-ratio: 1;
  position: relative;
}

.tech-img-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-position: center;
  object-fit: contain;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .info-text-content {
    width: 100%;
    padding: 0 2rem;
    margin-top: 5rem;
  }

  .info-section {
    gap: 5rem;
  }
  .info-text-content h1 {
    font-size: 2rem;
  }
  .info-text-content p {
    color: rgb(235, 235, 235);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.9rem;
  }

  .tech-content {
    margin-bottom: 3rem;
    width: 100%;
  }
}
